@import url(//fonts.googleapis.com/css?family=Lato:300:400);

/* body {
  margin:0;
} */

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
    color: rgba(51, 132, 224, 0.856)
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: rgb(188, 209, 221);
}
/* detail */




.header {
    position:relative;
    text-align:center;
    background: -webkit-linear-gradient(to bottom, hsla(240, 87%, 3%, 0.589), #3c50c2), url(../img/home1.jpg);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, hsla(249, 85%, 13%, 0.575), #1a1b1f), url(../img/home1.jpg);  
     background-size: cover;
      background-attachment: fixed;
    color:rgba(255, 255, 255, 0.733);
    animation: movimiento 20s infinite linear alternate; 
  }
/*.logo {
  width:20%;  
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}*/

.inner-header {
  height:90vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* .content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: rgba(125, 131, 214, 0.329);
} */
/* Hero Section */

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	
    padding-top: 320px;
	justify-content: flex-start;
    text-justify: auto
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 150% ;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/* movimiento */
@keyframes movimiento{
  from{
      background-position: bottom left;
  }to{
      background-position: top right;
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: blue;
		font-weight: 500;
	}
}